@import "styles/variables.scss";

.sidebar {
	background-color: $dark-background;
	box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
	display: flex;
	flex-direction: column;
	min-width: 18rem;
	padding: $spacing 0;
	margin-top: 2rem;

	&--centered {
		align-self: center;
	}

	&__separator {
		width: 90%;
		margin: $spacing 0;
		border: solid 1px;
		color: darken($white, 5%);
	}

	&__menu {
		flex: 1;
	}

	&__lhl {
		margin-top: 2rem;
	}
}

.schedule {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 5rem 0;
	padding: 0 $spacing;
	width: 100%;
}

.header {
	background-color: $dark-background;
	.nav {
		background-color: $dark-background;
		color: aliceblue;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: fixed;
		width: 100%;
		padding: 0.5rem $spacing;
		z-index: 10;
		li {
			border: 2px solid transparent;
			border-radius: 5px;
			padding: 2px $spacing;
			transition: background 0.2s;
			text-decoration: none;
			color: azure;
			display: flex;
			place-items: center;
			a {
				margin: 0.5rem;
			}
		}

		.form-inline {
			display: flex;
		}
		.form-group {
			display: flex;
		}
		.form-label {
			margin: 1rem;
		}
		.form-control {
			height: 40px;
			width: auto;
		}
	}

	.btn {
		margin: 0 0.5rem 0;
		padding: 2px;
		text-decoration: none;
		color: var(--nav-text-color);
		width: 130px;
		max-height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
		cursor: pointer;
		background-color: #3879c9;
		border-radius: 8px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 0 0 rgba(0, 0, 0, 0.3) inset;
	}
}
